<script>
  function copyLink() {
    $("#marketing-link").select();
    document.execCommand("copy");
    toastr.info("주소가 복사되었습니다.");
  }

  function showMessage(id) {
    window.location.href = "/messages/" + id;
  }
</script>

<section class="first">
  <div class="container">

    <% if @messages.blank? %>
        <div class="row">
          <div class="col-lg-12 text-center well">
            <p>수신한 메시지가 없습니다.</p>
            <p>팬들에게 아래 링크를 홍보하고, 첫 메시지를 받아보세요!</p>
            <div class="col-sm-6 col-sm-offset-3 input-group">
              <textarea id="marketing-link" class="form-control custom-control" rows="1" style="resize:none"><%= APP_CONFIG[:host_url].split('//')[1] %>/<%= @user.name %></textarea>
              <span class="input-group-addon btn btn-primary" onclick="javascript:copyLink();">링크 복사</span>
            </div>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="list-group">
              <% @messages.each do |m| %>
                  <a href="javascript:showMessage(<%= m.id %>)" class="list-group-item <%= 'disabled' if m.wasted? %>">
                    <% if m.video_repliable? %>
                        <span class="message-label label label-pill label-primary">답장가능(후원금)</span>
                    <% elsif m.delivered? %>
                        <span class="message-label label label-pill label-primary">답장가능</span>
                    <% elsif m.replied? %>
                        <span class="message-label label label-pill label-success">답장완료</span>
                    <% elsif m.wasted? %>
                        <span class="message-label label label-pill label-default">만료됨</span>
                    <% else %>
                        <span class="message-label label label-pill label-warning">미결제</span>
                    <% end %>
                    <h4 class="list-group-item-heading"><%= m.sender.name %></h4>

                    <p class="list-group-item-text"><%= m.text %></p>
                  </a>
              <% end %>
            </div>
            <%= paginate @messages %>
          </div>
        </div>
    <% end %>

  </div>
</section>