<!DOCTYPE html>
<html>
<head>
  <title>KIKI</title>
  <%= favicon_link_tag '/favicon.ico' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script>
    $(document).ready(function () {
      <% if flash[:info].present? %>
      toastr.info('<%= flash[:info] %>');
      <% end %>
      <% if flash[:error].present? %>
      toastr.error('<%= flash[:error] %>');
      <% end %>
    });
  </script>
</head>
<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">

    <div class="navbar-header page-scroll">

      <% unless @minimal_layout %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
      <% end %>

      <a class="navbar-brand" href="<%= (@minimal_layout or @door_layout or current_user.blank?) ? '/' : '/messages' %>">
        KIKI
        <small>BETA</small>
      </a>

    </div>

    <% unless @minimal_layout %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if @door_layout %>
                <!--<li class="page-scroll">-->
                  <!--<a href="/messages">BJ 대시보드</a>-->
                <!--</li>-->
            <% elsif current_user.blank? %>
                <li>
                  <%= link_to "로그인", new_user_session_path %><br />
                </li>

                <li>
                  <%= link_to "가입", agreements_partner_path %><br />
                </li>
            <% else %>
                <li>
                  <a href="/messages">BJ 대시보드</a>
                </li>
                <li>
                  <a href="/exchange_requests">수익관리</a>
                </li>
                <li>
                  <a href="/users/edit">계정관리</a>
                </li>
                <li>
                  <a href="javascript:window.location.href = '/<%= current_user.name %>'">내 홍보 페이지</a>
                </li>
                <li>
                  <%= link_to "로그아웃", destroy_user_session_path, :method => :delete %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

  </div>
</nav>

<!-- Main Contents -->
<%= yield %>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>About KIKI</h3>

          <p>Kiki is a messenger-bot service for celebrities and fans to connect closer together in a new way.</p>
        </div>

        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/waikikibot/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
          </ul>
        </div>

        <div class="footer-col col-md-4">
          <h3>사업자정보</h3>

          <p>상호명: 키키봇, 대표: 이경원, 개인정보관리책임자: 이경원, 사업자등록번호: 117-09-92155, 사업장소재지: 서울시 양천구 목동서로 38 121-1002, 문의: admin@kiki.video</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; KIKI 2017
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>